@import "./_variables";

//container
.c_container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1440px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 95%;
  }
}

.c_container__left {
  width: 90%;
  margin-left: auto;

  @media (max-width: 768px) {
    width: 95%;
  }
}


.c_container__right {
  width: 90%;
  margin-right: auto;

  @media (max-width: 768px) {
    width: 95%;
  }
}

//section
.section {
  padding: 3.75rem 0;
}
.section__top {
  padding-top: 3.75rem;
}
.section__bottom {
  padding-bottom: 3.75rem;
}

//Buttons
.btn__custom{
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  min-width: 8rem;
}
.btn__primary{
  @extend .btn__custom;
  background: $color__secondary;
  color: #fff;
}
.btn__secondary{
  @extend .btn__custom;
  background: #fff;
}

//Font-size
.heading {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 700;
}
.subheading {
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 700;
}
.cardheading {
  font-size: clamp(1.8rem, 2vw, 2rem);
  font-weight: 700;
}


.custom-toggler .navbar-toggler-icon-custom{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(31, 51, 216)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}