@import "./global/_variables";
@import "./global/global.scss";


/* ---------------------
Home Hero section
--------------------------*/
.home_hero__container{
  position: relative;
  background: $bg__primary;
  padding-top: 5rem;
  
  .home_hero__wrapper{
    @extend .c_container, .section;
    display: flex;
    
    @media (max-width: 768px){
      flex-direction: column;
    }

    .hh__content_wrapper{
      width: 50%;
      @media (max-width: 1024px){
        width: 60%;
      }
      @media (max-width: 768px){
        width: 100%;
      }

      .hh__title{
        font-weight: 600;
        color: $color__dark;
        .hh__title_blue{
          font-weight: 700;
          color: $color__secondary;

        }
        .hh__title_yellow{
          @extend .hh__title_blue;
          color: $color__primary;
        }
      }
      .hh__heading{
        font-size: clamp(3rem, 4vw, 4rem);
        font-weight: 700;
        line-height: 1.4;
      }
      .hh__paragraph{
        width: 90%;
        
        @media (max-width: 1024px){
          width: 100%;
        }
      }
      .hh__btn_wrapper{
        display: flex;
        gap: 1rem;
        padding-top: 3rem;
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding: 1rem;
          min-width: 12rem;
          background: $color__secondary;
          color: #fff;
          border-radius: 50px;

          &:hover{
            background: #fff;
            color: $color__dark;
          }
          
          &:last-child{
            background: #fff;
            color: $color__dark;

            &:hover{
              background: $color__secondary;
              color: #fff;

              svg{
                fill: #fff; 
              }
            }
          }
        }
      }
    }
    
    .hh__img_wrapper{
      width: 50%;

      @media (max-width: 1440px){
        margin-left: -10%;
      }
      @media (max-width: 1240px){
        margin-left: -5%;
      }
      @media (max-width: 1024px){
        width: 40%;
        margin-left: 0;
      }
      @media (max-width: 768px){
        display: none;
      }
    }
  }

  .hh__floating_img{
    position: absolute;
    right: 45%;
    top: 5rem;
    @media (max-width: 1024px){
      right: 30%;
    }
    @media (max-width: 800px){
      display: none;
    }
  }
  .hh__floating_blur_img{
    position: absolute;
    right: 0;
    top: 30%;
    @media (max-width: 1024px){
      display: none;
    }
  }
}




/* ---------------------
Home second section (What is Akacoin?)
--------------------------*/
.home__dual_div_container{
  @extend .c_container, .section;
  
  .home_dd__content_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .home_dd__subheading_wrapper{
      width: 40%;
      h3{
        @extend .subheading;
        line-height: 1.5;
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
    .home_dd__paragraph_wrapper{
      width: 60%;
      .home_ddp__link{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $color__secondary;
        font-size: 1.1rem;
        font-weight: 600;
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }

  .home_dd__img_wrapper{
    padding-top: $space__primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    @media (max-width: 1024px) {
      gap: 1rem;
      padding-top: 3rem;
    }
    .home_ddi__img1{
      width: 30%;
      background: $color__primary;
      border-radius: 15px 
    }
    .home_ddi__img2{
      width: 70%;
    }
  }
}

/* ---------------------
  Home third section (Choose Your Wallets)
-------------------------- */
.home__wallet_container{
  @extend .c_container, .section;
}

/* ---------------------
  Home fourth section (Quick Start Guide)
-------------------------- */
.home_quick_guide__container{
  @extend .c_container, .section;
}

/* ---------------------
  Home fifth section (Transactions info)
-------------------------- */
.home_facilities__container{
  @extend .c_container, .section;
}

/* ---------------------
  Home fourth section (Transactions info)
-------------------------- */
.home_transactions_info__container{
  width: 100%;
  background: $color__secondary;
  border-bottom: 1rem solid $color__primary;

  .home_transactions_info__wrapper{
    @extend .c_container, .section;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4rem 2rem;
    grid-gap: 4rem;
    
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1,1fr);
    }
    .transactions_info__card{
      label{
        color: #fff;
        padding-bottom: 0.5rem;
      }
      h3{
        @extend .subheading;
        color: #fff;
      }

    }
  }
}